---
layout: default
title: Home
---

<!-- Testing Stuff -->
<button type="button" class="btn btn-primary">Primary</button>

<script src="{{ site.github.url }}/assets/js/home-shuffle.js"></script>
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/shuffle.css">

<div class="container-lg">

  <div class="row text-center">
    <div class="col-md-12 text-center pb20">
      <h2>Snail Test
        <br>
        <strong>Snail Test</strong>
      </h2>
      <p class="lead">Snail Test
        <span class="color">successful</span> snail snail test</p>
    </div>


    <div class="col-md-12">
      <div class="col">
        <div class="btn-group vossen-portfolio-filters" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />One Snail</label>
          <label class="btn btn-primary">
            <input type="radio" name="shuffle-filter" value="nature" />Two Snail</label>
          <label class="btn btn-primary">
            <input type="radio" name="shuffle-filter" value="fruit" />Three Snail</label>
          <label class="btn btn-primary">
            <input type="radio" name="shuffle-filter" value="architecture" />Four</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="position-relative overflow-visible flex flex-wrap w-full" id="grid">
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=882e851a008e83b7a80d05bdc96aa817" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1484402628941-0bb40fc029e7?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=6237e62a10fa079d99b088b0db0144ac" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=86dc2dcb74588b338dfbb15d959c5037" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1465414829459-d228b58caf6e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=7ab1744fe016fb39feb2972244246359" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 row-span basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--9x80">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1416184008836-5486f3e2cf58?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=601&amp;h=676&amp;fit=crop&amp;s=5f1f1ffba05979d4248cc16d8eb82f0a" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=57a00aabcfaa1b04fd268ea3ad4a4cbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 col-span basis-1 max-w-none md:basis-1/2 md:max-w-[50%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--32x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1473175494278-d83ed8459089?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1208&amp;h=338&amp;fit=crop&amp;s=fd1cf1e8eddf88ef87015314f85ce3fb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1434144893279-2a9fc14e9337?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=d2f930bbb91de7e19e6436f5b03897b0" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=eda14f45e94e9024f854b1e06708c629" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=70dabb0dcc604c558245b72f3109bbbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=4e19022724205e38e491961f50e47d32" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1430026996702-608b84ce9281?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=363a88755a7b87635641969a8d66f7aa" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=882e851a008e83b7a80d05bdc96aa817" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1484402628941-0bb40fc029e7?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=6237e62a10fa079d99b088b0db0144ac" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=86dc2dcb74588b338dfbb15d959c5037" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1465414829459-d228b58caf6e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=7ab1744fe016fb39feb2972244246359" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 row-span basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--9x80">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1416184008836-5486f3e2cf58?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=601&amp;h=676&amp;fit=crop&amp;s=5f1f1ffba05979d4248cc16d8eb82f0a" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=57a00aabcfaa1b04fd268ea3ad4a4cbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 col-span basis-1 max-w-none md:basis-1/2 md:max-w-[50%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--32x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1473175494278-d83ed8459089?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1208&amp;h=338&amp;fit=crop&amp;s=fd1cf1e8eddf88ef87015314f85ce3fb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1434144893279-2a9fc14e9337?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=d2f930bbb91de7e19e6436f5b03897b0" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=eda14f45e94e9024f854b1e06708c629" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=70dabb0dcc604c558245b72f3109bbbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=4e19022724205e38e491961f50e47d32" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1430026996702-608b84ce9281?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=363a88755a7b87635641969a8d66f7aa" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=882e851a008e83b7a80d05bdc96aa817" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1484402628941-0bb40fc029e7?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=6237e62a10fa079d99b088b0db0144ac" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=86dc2dcb74588b338dfbb15d959c5037" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1465414829459-d228b58caf6e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=7ab1744fe016fb39feb2972244246359" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 row-span basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--9x80">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1416184008836-5486f3e2cf58?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=601&amp;h=676&amp;fit=crop&amp;s=5f1f1ffba05979d4248cc16d8eb82f0a" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=57a00aabcfaa1b04fd268ea3ad4a4cbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 col-span basis-1 max-w-none md:basis-1/2 md:max-w-[50%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--32x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1473175494278-d83ed8459089?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1208&amp;h=338&amp;fit=crop&amp;s=fd1cf1e8eddf88ef87015314f85ce3fb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1434144893279-2a9fc14e9337?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=d2f930bbb91de7e19e6436f5b03897b0" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=eda14f45e94e9024f854b1e06708c629" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=70dabb0dcc604c558245b72f3109bbbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=4e19022724205e38e491961f50e47d32" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1430026996702-608b84ce9281?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=363a88755a7b87635641969a8d66f7aa" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=882e851a008e83b7a80d05bdc96aa817" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1484402628941-0bb40fc029e7?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=6237e62a10fa079d99b088b0db0144ac" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/uploads/1413142095961484763cf/d141726c?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=86dc2dcb74588b338dfbb15d959c5037" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1465414829459-d228b58caf6e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=7ab1744fe016fb39feb2972244246359" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 row-span basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--9x80">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1416184008836-5486f3e2cf58?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=601&amp;h=676&amp;fit=crop&amp;s=5f1f1ffba05979d4248cc16d8eb82f0a" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1478033394151-c931d5a4bdd6?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=57a00aabcfaa1b04fd268ea3ad4a4cbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 col-span basis-1 max-w-none md:basis-1/2 md:max-w-[50%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--32x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1473175494278-d83ed8459089?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1208&amp;h=338&amp;fit=crop&amp;s=fd1cf1e8eddf88ef87015314f85ce3fb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1434144893279-2a9fc14e9337?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=d2f930bbb91de7e19e6436f5b03897b0" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=eda14f45e94e9024f854b1e06708c629" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1482192596544-9eb780fc7f66?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=70dabb0dcc604c558245b72f3109bbbb" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1447433589675-4aaa569f3e05?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=4e19022724205e38e491961f50e47d32" alt=""/></div>
        </div>
      </figure>
      <figure class="js-item grow-0 shrink-0 w-full mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]">
        <div class="aspect transition duration-500 ease opacity-0 translate-y-full aspect--16x9">
          <div class="aspect__inner"><img src="https://images.unsplash.com/photo-1430026996702-608b84ce9281?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=338&amp;fit=crop&amp;s=363a88755a7b87635641969a8d66f7aa" alt=""/></div>
        </div>
      </figure>
      <div class="js-sizer-element opacity-0 invisible w-full grow-0 shrink-0 mt-2 px-1 basis-1/2 max-w-[50%] md:basis-1/4 md:max-w-[25%]"></div>
    </div>
  </div>
    </div>

      <div class="col-lg-4 col-md-4 col-sm-4 my-sizer-element"></div>
    </div>
  </div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>