---
layout: default
---

<script src="{{ site.github.url }}/assets/js/infinite-scroll.js"></script>
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/shuffle.css">


<div class="status-bar">Loaded page: 1</div>

<h1>Infinite Scroll v4 - pageIndex</h1>

<body>
<div id="app">
  <div class="whole_wrapper">

  </div>
</div>
</body>




<!--<div class="post-content">-->
<!--  <h1>-->
<!--    {{ pag-->
<!--    e.title }}-->
<!--  </h1>-->
<!--  {% if site.hide_post_date != true %}-->
<!--    {% include post-date.html %}-->
<!--  {% endif %}-->
<!--  {% if page.image %}-->
<!--    <div class="featured-image">-->
<!--      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">-->
<!--    </div>-->
<!--  {% endif %}-->
<!--  <article>-->
<!--    {{ content }}-->
<!--  </article>-->
<!--  {% if site.hide_post_share != true %}-->
<!--    {% include post-share.html %}-->
<!--  {% endif %}-->
<!--  {% if site.hide_related_posts != true %}-->
<!--    {% include related-posts.html %}-->
<!--  {% endif %}-->
<!--  {% if site.data.settings.disqus.comments %}-->
<!--    {% include disqus.html %}-->
<!--  {% endif %}-->
<!--</div>-->
